.beer-image {
  width: 200px;
  height: 200px;
}

h1 {
  color:blue;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}


.clearance td{
  background-color: lightgreen;
}


