<form [formGroup]="formSignUp" (submit)="onSubmit()" class="container mt-4">
    <div [class.invalid]="formSignUp.get('username')?.invalid" class="mb-3">
        <label for="username" class="form-label">Usuario</label>
        <input id="username" type="text" formControlName="username" class="form-control"/>
    </div>

    <div [class.invalid]="formSignUp.get('email')?.invalid" class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input id="email" type="email" formControlName="email" class="form-control"/>
    </div>

    <div [class.invalid]="formSignUp.get('password')?.invalid" class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input id="password" type="password" formControlName="password" class="form-control"/>
        <div>
            <p *ngIf="formSignUp.get('password')?.hasError('required')" class="text-danger small">El password es requerido</p>
            <p *ngIf="formSignUp.get('password')?.hasError('minlength')" class="text-danger small">El password debe tener mínimo 8 caracteres</p>
        </div>
    </div>

    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirmar Contraseña</label>
        <input id="confirmPassword" type="password" formControlName="confirmPassword" class="form-control"/>
        <p *ngIf="formSignUp.hasError('passwordMismatch')" class="text-danger small">Las contraseñas no coinciden</p>
    </div>

    <button [disabled]="formSignUp.invalid" type="submit" class="btn btn-primary">Sign Up</button>
</form>